/node_modules
/dist
/.env
.DS_Store       
/logs
*.log
/coverage
/.vscode
.idea/
*.iml
/build
/tmp
/cache
*.bak
*.swp   
/.parcel-cache
/.next
/out
/.nuxt
/.expo
/.turbo 
/.vercel
/.firebase
/.serverless
/.aws-sam   